[submodule "web-component/jb-input"]
	path = web-component/jb-input
	url = https://github.com/javadbat/jb-input.git
[submodule "web-component/jb-button"]
	path = web-component/jb-button
	url = https://github.com/javadbat/jb-button.git
[submodule "web-component/jb-select"]
	path = web-component/jb-select
	url = https://github.com/javadbat/jb-select.git
[submodule "web-component/jb-textarea"]
	path = web-component/jb-textarea
	url = https://github.com/javadbat/jb-textarea.git
[submodule "web-component/jb-file-input"]
	path = web-component/jb-file-input
	url = https://github.com/javadbat/jb-file-input.git
[submodule "web-component/jb-image-input"]
	path = web-component/jb-image-input
	url = https://github.com/javadbat/jb-image-input.git
[submodule "web-component/jb-date-input"]
	path = web-component/jb-date-input
	url = https://github.com/javadbat/jb-date-input.git
[submodule "web-component/jb-calendar"]
	path = web-component/jb-calendar
	url = https://github.com/javadbat/jb-calendar.git
[submodule "modules/jb-message"]
	path = modules/jb-message
	url = https://github.com/javadbat/jb-message.git
[submodule "react-component/jb-checkbox"]
	path = react-component/jb-checkbox
	url = https://github.com/javadbat/jb-checkbox-react.git
[submodule "react-component/jb-switch"]
	path = react-component/jb-switch
	url = https://github.com/javadbat/jb-switch-react.git
# [submodule "react-component/jb-searchbar"]
# 	path = react-component/jb-searchbar
# 	url = https://github.com/javadbat/jb-searchbar-react.git
