[submodule "web-component/jb-input"]
	path = web-component/jb-input
	url = https://github.com/javadbat/jb-input.git
	branch = master
[submodule "web-component/jb-button"]
	path = web-component/jb-button
	url = https://github.com/javadbat/jb-button.git
	branch = master
[submodule "web-component/jb-select"]
	path = web-component/jb-select
	url = https://github.com/javadbat/jb-select.git
	branch = master
[submodule "web-component/jb-textarea"]
	path = web-component/jb-textarea
	url = https://github.com/javadbat/jb-textarea.git
	branch = master
[submodule "web-component/jb-file-input"]
	path = web-component/jb-file-input
	url = https://github.com/javadbat/jb-file-input.git
	branch = master
[submodule "web-component/jb-image-input"]
	path = web-component/jb-image-input
	url = https://github.com/javadbat/jb-image-input.git
	branch = master
[submodule "web-component/jb-date-input"]
	path = web-component/jb-date-input
	url = https://github.com/javadbat/jb-date-input.git
	branch = master
[submodule "web-component/jb-calendar"]
	path = web-component/jb-calendar
	url = https://github.com/javadbat/jb-calendar.git
	branch = master
[submodule "modules/jb-message"]
	path = modules/jb-message
	url = https://github.com/javadbat/jb-message.git
	branch = master
[submodule "react-component/jb-checkbox"]
	path = react-component/jb-checkbox
	url = https://github.com/javadbat/jb-checkbox-react.git
	branch = master
[submodule "react-component/jb-grid"]
	path = react-component/jb-grid
	url = https://github.com/javadbat/jb-grid-react.git
	branch = master
[submodule "web-component/jb-searchbar"]
	path = web-component/jb-searchbar
	url = https://github.com/javadbat/jb-searchbar.git
	branch = master
[submodule "web-component/jb-time-input"]
	path = web-component/jb-time-input
	url = https://github.com/javadbat/jb-time-input.git
	branch = master
[submodule "web-component/jb-time-picker"]
	path = web-component/jb-time-picker
	url = https://github.com/javadbat/jb-time-picker.git
	branch = master
[submodule "web-component/jb-loading"]
	path = web-component/jb-loading
	url = https://github.com/javadbat/jb-loading.git
	branch = master
[submodule "web-component/jb-pin-input"]
	path = web-component/jb-pin-input
	url = https://github.com/javadbat/jb-pin-input.git
	branch = main
[submodule "web-component/jb-payment-input"]
	path = web-component/jb-payment-input
	url = https://github.com/javadbat/jb-payment-input.git
	branch = main
[submodule "web-component/jb-national-input"]
	path = web-component/jb-national-input
	url = https://github.com/javadbat/jb-national-input.git
	branch = main
[submodule "web-component/jb-modal"]
	path = web-component/jb-modal
	url = https://github.com/javadbat/jb-modal.git
[submodule "react-component/jb-modal"]
	path = react-component/jb-modal
	url = https://github.com/javadbat/jb-modal-react.git
	branch = main
[submodule "web-component/jb-tooltip"]
	path = web-component/jb-tooltip
	url = https://github.com/javadbat/jb-tooltip.git
	branch = main
[submodule "web-component/jb-infinite-scroll"]
	path = web-component/jb-infinite-scroll
	url = https://github.com/javadbat/jb-infinite-scroll.git
	branch = main
[submodule "react-component/jb-infinite-scroll"]
	path = react-component/jb-infinite-scroll
	url = https://github.com/javadbat/jb-infinite-scroll-react.git
	branch = main
[submodule "web-component/jb-qrcode"]
	path = web-component/jb-qrcode
	url = https://github.com/javadbat/jb-qrcode
	branch = main
[submodule "web-component/jb-mobile-input"]
	path = web-component/jb-mobile-input
	url = https://github.com/javadbat/jb-mobile-input.git
	branch = main
[submodule "web-component/jb-notification"]
	path = web-component/jb-notification
	url = https://github.com/javadbat/jb-notification.git
	branch = main
[submodule "web-component/jb-switch"]
	path = web-component/jb-switch
	url = https://github.com/javadbat/jb-switch.git
	branch = main
[submodule "web-component/jb-number-input"]
	path = web-component/jb-number-input
	url = https://github.com/javadbat/jb-number-input.git
	branch = main
[submodule "web-component/jb-password-input"]
	path = web-component/jb-password-input
	url = https://github.com/javadbat/jb-password-input.git
	branch = main
[submodule "web-component/jb-popover"]
	path = web-component/jb-popover
	url = https://github.com/javadbat/jb-popover.git
	branch = main
[submodule "react-component/web-component/jb-popover"]
	path = react-component/web-component/jb-popover
	url = https://github.com/javadbat/jb-popover.git
	branch = main
[submodule "modules/modules/jb-validation"]
	path = modules/modules/jb-validation
	url = https://github.com/javadbat/jb-validation.git
	branch = main
[submodule "modules/jb-validation"]
	path = modules/jb-validation
	url = https://github.com/javadbat/jb-validation.git
	branch = main
[submodule "web-component/jb-form"]
	path = web-component/jb-form
	url = https://github.com/javadbat/jb-form.git
