 /* added by decorator configs in preview.ts */
 html.rtl{
  direction: rtl;
}
html.ltr{
  direction: ltr;
}
.sb-wrapper,.sb-story{
  font-family: "dana", tahoma, Arial, Helvetica, sans-serif;
}
#root,#storybook-root{
font-family: "dana", tahoma, Arial, Helvetica, sans-serif;
}