.bottom-line-test{
    --jb-pin-input-bottom-line-height:10px;
    --jb-pin-input-bottom-line-border-radius:0px;
    --jb-pin-input-bottom-line-color:black;
    --jb-pin-input-bottom-line-color-active:#ececec;
}
.bottom-line-display{
    --jb-pin-input-bottom-line-display:none;
}

.input-border-display{
    --jb-pin-input-wrapper-border-width:4px;
    --jb-pin-input-wrapper-border-color:black;
    --jb-pin-input-bottom-line-display:none;
    --jb-pin-input-wrapper-border-radius:5px;
    --jb-pin-input-wrapper-border-color-active:#ececec;
    --jb-pin-input-inputs-wrapper-width:400px;
    --jb-pin-input-pin-height:50px;
    --jb-pin-input-pin-font-size:16px;
    --jb-pin-input-pin-font-weight:600;
    --jb-pin-input-wrapper-box-shadow:0px 0px 1px 1px #ececec;
    --jb-pin-input-error-message-margin:12px 24px;
}